.venv/
cache/
__pycache__/
*.pyc
*.mp3
*.wav
# Tables publiées par des tiers : régénérées par les commandes du LISEZMOI.
donnees/*/[0-9][0-9][0-9].json
!donnees/aligne-*/[0-9][0-9][0-9].json
donnees/*/verification.json
# … sauf les tables que l'application lit (outil/publier.py), CC BY 4.0, attribution
# à Wider Community (Quranic Universal Audio) : voir LISEZMOI, « Sources et attributions ».
!donnees/qua-mahmoud_ali_al_banna_qdc/[0-9][0-9][0-9].json
!donnees/qua-mohammed_siddiq_al_minshawi_mujawwad_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-mustafa_ismail_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-mohammed_saayed_warsh_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-abdulbasit_abdulsamad_warsh_qdc/[0-9][0-9][0-9].json
!donnees/qua-saber_abdulhakam_warsh_way2quran/[0-9][0-9][0-9].json
!donnees/qua-ahmed_deban_qalon_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-walid_al_naihi_qalon_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-saber_abdulhakam_qalon_way2quran/[0-9][0-9][0-9].json
!donnees/qua-abdur_rashid_sufi_shubah_qdc/[0-9][0-9][0-9].json
!donnees/qua-saber_abdulhakam_shubah_way2quran/[0-9][0-9][0-9].json
!donnees/qua-ahmed_saleh_rajab_qalon_way2quran/[0-9][0-9][0-9].json
!donnees/qua-moaz_mahmoud_hamed_qalon_way2quran/[0-9][0-9][0-9].json
!donnees/qua-ahmed_talib_bin_humaid_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-abdur_rashid_sufi_qdc/[0-9][0-9][0-9].json
!donnees/qua-ahmed_amer_tvquran/[0-9][0-9][0-9].json
!donnees/qua-ahmed_shaheen_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-haitham_al_dukhain_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-mahmoud_abdul_hakam_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-mohammed_alghazali_archive/[0-9][0-9][0-9].json
!donnees/qua-imad_zuhair_hafez_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-abdullah_al_qarafi_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-abdulwadood_haneef_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-ahmed_issa_al_maasaraawi_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-ahmed_kaseb_way2quran/[0-9][0-9][0-9].json
!donnees/qua-mohammed_al_luhaidan_mp3quran/[0-9][0-9][0-9].json
!donnees/qua-muammar_zainal_al_sukaini_way2quran/[0-9][0-9][0-9].json
!donnees/qua-walid_atef_way2quran/[0-9][0-9][0-9].json
!donnees/qua-fatih_seferagic_way2quran/[0-9][0-9][0-9].json
